@-webkit-keyframes 
fadeImg {  from {
 opacity: 0;
}

to { opacity: 1; }
}

@-moz-keyframes 
fadeImg {  from {
 opacity: 0;
}

to { opacity: 1; }
}

@keyframes 
fadeImg {  from {
 opacity: 0;
}

to { opacity: 1; }
}

.slider-nav{
    bottom: 150px;
    width: 60%;
    left:-20px;
    cursor: pointer;
}
.slider-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
  }
  
  .slider-nav li {
    -webkit-box-flex: 2;
    flex: 2;
    text-align: center;
    display: -webkit-box;
    display: flex;
  }
  li.arrow>a {
    background-color: #fafafa;
    padding: 15% 15%;
    margin: 20px;
    font-size: 42px;
}
  .slider{
      width: 100%;
  }
  .slider-item {
    max-width: 100%;
    display: none;
  }
  
  .slider-item.active {
    display: block !important;
    -webkit-animation: fadeImg 0.8s;
    -moz-animation: fadeImg 0.8s;
    animation: fadeImg 0.8s;
  }
  
  .slider-nav .arrow { flex: 0 0 15%; }
  
  .slider-nav a {
    flex-basis: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .slider-nav span {
    display: block;
    width: 100%;
  }